<section class="about-me-section">
    <div class="about-me-left">
        <h2 class="about-me-heading">Ольга Молчанова</h2>
        <div class="about-me-text">
            <p class="about-me-fullstack-text">
                Я - <span class="selected-text">Fullstack - розробник</span> - створюю сучасні сайти та 
                застосунки, відповідаю за їх фронтенд та бекенд. Допоможу 
                розробити функціональний вебпродукт для приваблення клієнтів.
            </p>
            <p class="about-me-expiriens-text">
                Маю досвід роботи як в індивідуальних, так і в командних 
                проєктах 
                <a class="about-me-link-to-portfolio" href="portfolio-page.html">(детальніше - в портфоліо).</a>
            </p>
            <div class="about-me-technologies">
                <p class="about-me-technologies-text">
                    В своїх роботах використовую такі технології:
                </p>
                <ul class="about-me-technologies-list">
                    <li class="about-me-technologies-item">
                        <svg class="about-me-technologies-icon" width="36" height="36">
                            <use href="./img/sprite.svg#icon-html"></use>
                        </svg>
                        <p class="about-me-technologies-name">HTML</p>
                    </li>
                    <li class="about-me-technologies-item">
                        <svg class="about-me-technologies-icon" width="36" height="36">
                            <use href="./img/sprite.svg#icon-css"></use>
                        </svg>
                        <p class="about-me-technologies-name">CSS</p>
                    </li>
                    <li class="about-me-technologies-item">
                        <svg class="about-me-technologies-icon" width="36" height="36">
                            <use href="./img/sprite.svg#icon-javascript"></use>
                        </svg>
                        <p class="about-me-technologies-name">Java Script</p>
                    </li>
                    <li class="about-me-technologies-item">
                        <svg class="about-me-technologies-icon" width="36" height="36">
                            <use href="./img/sprite.svg#icon-react"></use>
                        </svg>
                        <p class="about-me-technologies-name">React</p>
                    </li>
                    <li class="about-me-technologies-item">
                        <svg class="about-me-technologies-icon" width="36" height="36">
                            <use href="./img/sprite.svg#icon-node-js"></use>
                        </svg>
                        <p class="about-me-technologies-name">Node.JS</p>
                    </li>
                </ul>
            </div>
            <button class="button about-me-button" type="button">Написати мені</button>
            <p class="about-me-chemist-text">
                Раніше працювала хіміком на фармзаводі, доки не 
                написала код  свого першого сайту. З тих пір закохалася в 
                програмування. 
            </p>
            <p class="about-me-hobby-title">Коли я не за комп’ютером, зазвичай:</p>
            <ul class="about-me-hobby-list">
                <li class="about-me-hobby-item">
                    <ul class="about-me-hobby-left-list">
                        <li class="about-me-hobby-left-item hobby-item">
                            <svg class="about-me-hobby-icon  hobby-stroke-icon" width="30" height="30">
                                <use href="./img/sprite.svg#icon-travel"></use>
                            </svg>
                            <p class="about-me-hobby-text">Подорожую</p>
                        </li>
                        <li class="about-me-hobby-left-item hobby-item">
                            <svg class="about-me-hobby-icon hobby-stroke-icon" width="30" height="30">
                                <use href="./img/sprite.svg#icon-family"></use>
                            </svg>
                            <p class="about-me-hobby-text">Проводжу час із сім’єю</p>
                        </li>
                    </ul>
                </li>
                <li class="about-me-hobby-item">
                    <ul class="about-me-hobby-right-list">
                        <li class="about-me-hobby-right-item hobby-item">
                            <svg class="about-me-hobby-icon hobby-fill-icon" width="30" height="30">
                                <use href="./img/sprite.svg#icon-headphone"></use>
                            </svg>
                            <p class="about-me-hobby-text">Слухаю підкасти</p>
                        </li>
                        <li class="about-me-hobby-right-item hobby-item">
                            <svg class="about-me-hobby-icon hobby-fill-icon photo-icon" width="30" height="30">
                                <use href="./img/sprite.svg#icon-photo"></use>
                            </svg>
                            <p class="about-me-hobby-text">Фотографую природу</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="about-me-socials-list">
            <li class="about-me-socials-item">
                <a class="about-me-socials-link" href="https://github.com/MolchanovaOlga">
                    <svg class="about-me-socials-icon" width="30" height="30">
                        <use href="./img/sprite.svg#icon-github"></use>
                    </svg>
                    <p class="about-me-socials-name">GitHub</p>
                </a>
            </li>
            <li class="about-me-socials-item">
                <a class="about-me-socials-link" href="https://www.linkedin.com/in/olga-molchanova-380aa7221/">
                    <svg class="about-me-socials-icon" width="30" height="30">
                        <use href="./img/sprite.svg#icon-linkedin"></use>
                    </svg>
                    <p class="about-me-socials-name">Linkedin</p>
                </a>
            </li>
            <li class="about-me-socials-item">
                <a class="about-me-socials-link" href="https://t.me/OS_Molchanova">
                    <svg class="about-me-socials-icon" width="30" height="30">
                        <use href="./img/sprite.svg#icon-telegram"></use>
                    </svg>
                    <p class="about-me-socials-name">Telegram</p>
                </a>
            </li>
            <li class="about-me-socials-item">
                <a class="about-me-socials-link" href="https://www.instagram.com/olgas.fed/">
                    <svg class="about-me-socials-icon" width="30" height="30">
                        <use href="./img/sprite.svg#icon-instagram"></use>
                    </svg>
                    <p class="about-me-socials-name">Instagram</p>
                </a>
            </li>
        </ul>  
    </div>
    <div class="about-me-right">
        <div class="about-me-image-container">
            <img class="about-me-image" src="./img/about_me_photo.png" alt="About me photo"/>
        </div>
        <p class="about-me-button-text">
            Буду рада познайомитись та стати членом Вашої команди!
        </p>
        <button class="button about-me-desktop-button" type="button">Написати мені</button>
    </div>
</section>


  
  