<section class="about-me">
    <div>
        <h2>Ольга Молчанова</h2>
        <p>
            Я - <span>Fullstack - розробник</span> - створюю сучасні сайти та 
            застосунки, відповідаю за їх фронтенд та бекенд. Допоможу 
            розробити функціональний вебпродукт для приваблення клієнтів.
        </p>
        <p>
            Знаю HTML, CSS, Java Script, також працювала з React, 
            Node.js та іншими технологіями (детальніше - в резюме).
        </p>
        <p>
            Маю досвід роботи як в індивідуальних, так і в командних 
            проєктах (мої роботи - в портфоліо).
        </p>
        <p>
            Раніше працювала хіміком на фармзаводі, доки не 
            написала код  свого першого сайту. З тих пір закохалася в 
            програмування. 
        </p>
        <p>
            Коли я не за комп’ютером, зазвичай подорожую, проводжу 
            час із сім’єю, слухаю підкасти або фотографую природу. 
        </p>
        <p>
            Буду рада познайомитись та стати членом Вашої команди!
        </p>
    </div>
    <button class="button" type="button">Написати мені</button>
    <img src="../img/about_me_photo.png" alt="About me photo"/>
    <div class="about-me-socials">
        <ul class="about-me-socials-list">
            <li class="about-me-socials-item">
                <a href="https://github.com/MolchanovaOlga">
                    <svg class="github-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="about-me-socials-item">
                <a href="https://www.linkedin.com/in/olga-molchanova-380aa7221/">
                    <svg class="linkedin-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li class="about-me-socials-item">
                <a href="https://t.me/+380968905772">
                    <svg class="telegram-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="about-me-socials-item">
                <a href="https://www.instagram.com/olgas.fed/">
                    <svg class="instagram-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>


  
  