<section class="hero-section">
  <div class="hero-container">
    <div class="hero-container-description">
      <div class="hero-text-content">
        <div class="hero-text">
          <svg class="hero-hand-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-hand"></use>
          </svg>
          <h1 class="hero-main-title">Привіт!</h1>
          <p class="hero-main-paragraf">
            Я — <span class="main-paragraf-accentuate">Ольга Молчанова</span> — 
            web-розробник зі спеціалізацією <span class="main-paragraf-accentuate">Full Stack Developer.</span>
          </p>
          <p class="hero-paragraf">
            Допоможу створити, запустити і підтримувати сайт або застосунок для успішної реалізації Вашого продукту .
          </p>
        </div>
        <button class="button" type="button">Написати мені</button>
      </div>
      <a class="hero-photo-link" href="about-me-page.html">
        <div class="hero-photo-container">
          <picture>
            <!--<source
              media="(max-width: 767px)"
              srcset=">
                ./img/Olga_Molchanova's_photo-mob-1x.jpg    1x,
                ./img/Olga_Molchanova's_photo-mob-2x.jpg  2x
              "
            /> -->
            <source
              media="(max-width: 1249px)"
              srcset="
                ./img/Olga_Molchanova's_photo-tabl-1x.jpg   1x,
                ./img/Olga_Molchanova's_photo-tabl-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1250px)"
              srcset="
                ./img/Olga_Molchanova's_photo-desk-1x.jpg 1x,
                ./img/Olga_Molchanova's_photo-desk-2x.jpg 2x
              "
            />
            <img
              src="./img/Olga_Molchanova's_photo-desk-1x.jpg"
              alt="Olga Molchanova's photo"
              class="hero-img"
            />
       </picture>
        </div>
      </a>
    </div>
    <div class="hide-text-bottom">
      <p class="hero-paragraf-bottom">Будьте готові втілювати свої ідеї в реальність</p>
    </div>
  </div>
</section>