<section class="hero-section">
  <div>
    <div>
      <svg>
        <use></use>
      </svg>
      <h1>Привіт!</h1>
      <p>
        Я — <span>Ольга Молчанова</span> — web-розробник зі спеціалізацією <span>Full Stack Developer.</span>
      </p>
      <p>
        Допоможу створити, запустити і підтримувати сайт або застосунок для успішної реалізації Вашого продукту .
      </p>
      <button type="button">Написати мені</button>
    </div>
    <a href="">
      <img src="./img/Olga_Molchanova's_photo.png" alt="Olga Molchanova's photo" width="340" height="581"/>
    </a>
  </div>
  <div class="hero-sotials">
    <svg>
      <use href=""></use>
    </svg>
    <svg>
      <use href=""></use>
    </svg>
    <svg>
      <use href=""></use>
    </svg>
    <p>Будьте готові втілювати свої ідеї в реальність</p>
  </div>
</section>
