<footer class="footer">
    <div class="footer-copyright">
        <svg class="copyright-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-copyright"></use>
        </svg>
        <p class="copyright-text">2024 Olga Molchanova.</p>
    </div>
    <ul class="footer-socials">
        <li class="footer-socials-item">
            <a href="https://github.com/MolchanovaOlga">
                <svg class="footer-github-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-github"></use>
                </svg>
            </a>
        </li>
        <li class="footer-socials-item">
            <a href="https://www.linkedin.com/in/olga-molchanova-380aa7221/">
                <svg class="footer-linkedin-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
            </a>
        </li>
        <li class="footer-socials-item">
            <a href="https://t.me/OS_Molchanova">
                <svg class="footer-telegram-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
      </ul>
</footer>