<header class="header">
    <div class="logo">
        <a href="./first-page.html">
            <svg class="logo-title" width="100" height="43">
                <use href="./img/sprite.svg#icon-OM"></use>
            </svg>
            <p class="logo-text"><i>Molchanova</i></p>
        </a>
    </div>
    <ul>
        <li>
            <a href="tel:+38(096)89-05-772">+38(096)89-05-772</a>
        </li>
        <li>
            <a href="mailto:designer.molchanova@gmail.com">designer.molchanova@gmail.com</a>
        </li>
    </ul>
    <select name="lengs">
        <option value="UK">UK</option>
        <option value="EN">EN</option>
    </select>
    <button>
        <svg>
            <use></use>
        </svg>
    </button>
</header>