<header class="header">
    <div class="logo">
        <a href="./first-page.html">
            <svg class="logo-title" width="105" height="70">
                <use href="./img/sprite.svg#icon-logo"></use>
            </svg>
        </a>
    </div>
    <div class="header-elements">
        <ul class="header-contacts">
            <li class="header-contacts-item">
                <a class="header-phone" href="tel:+38(096)89-05-772">
                    <svg class="header-phone-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-telephone"></use>
                    </svg>
                <p class="header-phone-text">+38(096)89-05-772</p>
            </a>
            </li>
            <li class="header-contacts-item">
                <a class="header-mail" href="mailto:designer.molchanova@gmail.com">
                    <svg class="header-mail-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-letter"></use>
                    </svg>
                    <p class="header-mail-text">designer.molchanova@gmail.com</p>
                </a>
            </li>
        </ul>
        <select name="lengs">
            <option value="UK">UK</option>
            <option value="EN">EN</option>
        </select>
        <button class="menu-btn" type="button">
            <svg class="menu-btn-icon" width="58" height="30">
                <use href="./img/sprite.svg#icon-burger-menu"></use>
            </svg>
        </button>
    </div>
</header>