<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <div class="top-modal">
            <div class="logo">
                <a href="./first-page.html">
                    <svg class="logo-icon" width="90" height="63">
                        <use href="./img/sprite.svg#icon-logo"></use>
                    </svg>
                </a>
            </div>
            <button class="modal-close-button" type="button" data-modal-close>
                <svg class="modal-close-icon" width="30" height="30">
                    <use href="./img/sprite.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <nav class="modal-navigation">
            <ul class="modal-list">
                <li class="modal-list-item">
                    <a href="./index.html" class="modal-link">Головна</a>
                </li>
                <li class="modal-list-item">
                    <a href="./about-me-page.html" class="modal-link">Про мене</a>
                </li>
                <li class="modal-list-item">
                    <a href="./portfolio-page.html" class="modal-link">Портфоліо</a>
                </li>
                <li class="modal-list-item">
                    <a href="../files/resume.pdf" class="modal-link" target="_blank">Резюме</a>
                </li>
                <li class="modal-list-item">
                    <a href="" class="modal-link">Контакти</a>
                </li>
            </ul>
        </nav>
        <ul class="menu-socials-list">
            <li class="menu-socials-item">
                <a href="https://github.com/MolchanovaOlga" target="_blank">
                    <svg class="github-icon menu-social-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="menu-socials-item">
                <a href="https://www.linkedin.com/in/olga-molchanova-380aa7221/" target="_blank">
                    <svg class="linkedin-icon menu-social-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li class="menu-socials-item">
                <a href="https://t.me/OS_Molchanova" target="_blank">
                    <svg class="telegram-icon menu-social-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>     
    </div>
</div>