<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <div class="top-modal">
            <div class="logo">
                <a href="./first-page.html">
                    <svg class="logo-title" width="90" height="63">
                        <use href="./img/sprite.svg#icon-logo"></use>
                    </svg>
                </a>
            </div>
            <button class="modal-close-button" type="button" data-modal-close>
                <svg class="modal-close-icon" width="32" height="32">
                    <use href="./img/sprite.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <nav class="modal-navigation">
            <ul class="modal-list">
                <li class="modal-list-item">
                    <a href="" class="modal-link">Головна</a>
                </li>
                <li class="modal-list-item">
                    <a href="" class="modal-link">Про мене</a>
                </li>
                <li class="modal-list-item">
                    <a href="" class="modal-link">Портфоліо</a>
                </li>
                <li class="modal-list-item">
                    <a href="" class="modal-link">Резюме</a>
                </li>
                <li class="modal-list-item">
                    <a href="" class="modal-link">Контакти</a>
                </li>
            </ul>
        </nav>
        <div class="menu-socials">
            <svg class="github-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-github"></use>
            </svg>
            <svg class="linkedin-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-linkedin"></use>
            </svg>
            <svg class="telegram-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-telegram"></use>
            </svg>
        </div>
    </div>
</div>