<section class="portfolio-section">
    <h2 class="portfolio-title">Мої роботи</h2>
    <form class="portfolio-radio-form">
        <label class="portfolio-radio-form-label">
            <input type="radio" value="team-projects" name="projects" checked/>
            Командні проєкти
        </label>
        <label class="portfolio-radio-form-label">
            <input type="radio" value="individual-projects" name="projects"/>
            Індивідуальні проєкти
        </label>
    </form>
</section>