.about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 375px;
    min-width: 320px;
    margin: 0 auto;
    padding: 48px 30px;
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    .about-me-section {
        min-width: 768px;
        max-width: 1200px;
        padding: 48px 50px;
    }
}

@media screen and (min-width: 1250px) {
    .about-me-section {
        flex-direction: row;
        max-width: 1200px;
        padding-top: 72px;
        padding-bottom: 72px;
        justify-content: space-between;
        align-items: start;
    }
}

.about-me-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-me-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*       --------------------------  about-me text ------------------------------*/

.about-me-heading {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.0;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .about-me-heading {
        margin-bottom: 48px;
        font-size: 48px;
    }
}

.about-me-fullstack-text {
    font-size: 14px;
    line-height: 1.7;
    width: 100%;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .about-me-fullstack-text {
        font-size: 16px;
        line-height: 1.5;
    }
}

.selected-text {
    color: var(--main-green);
}

.about-me-expiriens-text {
    font-size: 14px;
    line-height: 1.7;
    width: 100%;
    margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
    .about-me-expiriens-text {
        font-size: 16px;
        line-height: 1.5;
    }
}

.about-me-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 326px;
}

@media screen and (min-width: 768px) {
    .about-me-text {
        max-width: 505px;
    }
}

.about-me-chemist-text {
    margin-top: 48px;
    font-weight: 100;
    margin-bottom: 36px;
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    .about-me-chemist-text {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1250px) {
    .about-me-chemist-text {
        margin-top: 0;
        margin-bottom: 24px;
    }
}

.about-me-link-to-portfolio:hover,
.about-me-link-to-portfolio:focus {
    text-decoration: underline;
}

.about-me-button-text {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.33;
    width: 100%;
    margin-top: 48px;
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    .about-me-button-text {
        font-size: 20px;
        line-height: 1.2;
        max-width: 505px;
    }
}

@media screen and (min-width: 1250px) {
    .about-me-button-text {
        font-size: 20px;
        line-height: 1.2;
        max-width: 488px;
        margin: 70px 0;
    }
}


/*       --------------------------  about-me technologies ------------------------------*/

.about-me-technologies {
    border-top: 1px solid var(--lines-grey-color);
    border-bottom: 1px solid var(--lines-grey-color);
    padding: 24px 0;
    margin-bottom: 48px;
    width: 100%;
}

@media screen and (min-width: 1250px) {
    .about-me-technologies {
        margin-bottom: 36px;
    }
}

.about-me-technologies-text {
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .about-me-technologies-text {
        font-size: 18px;
        line-height: 1.33;
    }
}

.about-me-technologies-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 72px;
    row-gap: 24px;
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .about-me-technologies-list {
        flex-wrap: nowrap;
        margin-top: 36px;
        gap: 0;
        justify-content: space-between;

    }
}

.about-me-technologies-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me-technologies-icon {
    fill: var(--yellow-color);
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .about-me-technologies-icon {
        width: 48px;
        height: 48px;
        margin-bottom: 24px;
    }
}

.about-me-technologies-name {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
}

@media screen and (min-width: 768px) {
    .about-me-technologies-name {
        font-size: 16px;
        line-height: 1.5;
    }
}

/*       --------------------------  about-me buttons ------------------------------*/

.about-me-button {
    display: block;
}

@media screen and (min-width: 1250px) {
    .about-me-button {
        display: none;
    }
}

.about-me-desktop-button {
    display: none;
}

@media screen and (min-width: 1250px) {
    .about-me-desktop-button {
        display: block;
        background-color: var(--main-green);
        color: var(--main-white);
    }

    .about-me-desktop-button:hover,
    .about-me-desktop-button:focus {
        background-color: var(--main-white);
        color: var(--main-green);
        transition: background-color 250ms linear;
        transition: color 250ms linear;
    }
}
/*       --------------------------  about-me-hobby ------------------------------*/

.about-me-hobby-title {
    font-weight: 600;
    width: 100%;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    .about-me-hobby-title {
        margin-bottom: 36px;
        font-size: 18px;
        line-height: 1.33;
    }
}

@media screen and (min-width: 1250px) {
    .about-me-hobby-title {
        font-size: 18px;
        line-height: 1.33;
        margin-bottom: 36px;
    }
}

.about-me-hobby-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 24px;
    margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
    .about-me-hobby-list {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 48px;
    }
}

.about-me-hobby-left-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    .about-me-hobby-left-list {
        gap: 24px;
    }
}

@media screen and (min-width: 1250px) {
    .about-me-hobby-left-list {
        gap: 16px;
    }
}

.about-me-hobby-right-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    .about-me-hobby-right-list {
        gap: 24px;
    }
}

@media screen and (min-width: 1250px) {
    .about-me-hobby-right-list {
        gap: 16px;
    }
}

.hobby-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.about-me-hobby-icon {
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 1250px) {
    .about-me-hobby-icon {
        width: 24px;
        height: 24px;
    }
}

.hobby-stroke-icon {
    fill: transparent;
    stroke: var(--lines-grey-color);
}

.hobby-fill-icon {
    fill: var(--lines-grey-color);
}

.about-me-hobby-text {
    font-weight: 300;
}

/*       --------------------------  about-me socials ------------------------------*/

.about-me-socials-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--lines-grey-color);
    padding: 36px 0;
}

@media screen and (min-width: 768px) {
    .about-me-socials-list {
        padding-top: 48px 0;
    }
}

.about-me-socials-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.about-me-socials-icon {
    fill: var(--main-green);
    width: 30px;
    height: 30px;
}

.about-me-socials-name {
    font-size: 14px;
    line-height: 1.7;
}

@media screen and (min-width: 768px) {
    .about-me-socials-name {
        font-size: 16px;
        line-height: 1.5;
    }
}

.about-me-socials-link:hover,
.about-me-socials-link:focus {
    text-decoration: underline;
    transition: text-decoration 250ms linear;
}

/*       --------------------------  about-me image ------------------------------*/

.about-me-image-container {
    width: 275px;
    height: 473px;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    .about-me-image-container {
        width: 359px;
        height: 500px;
        border-radius: 15px;
    }
}

@media screen and (min-width: 1250px) {
    .about-me-image-container {
        width: 488px;
        height: 680px;
        border-radius: 20px;
    }
}

.about-me-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}