.hero-section {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    margin: 0 auto;
    padding-top: 50px;
    width: 1200px;
    padding-bottom: 80px;
    /*position: absolute;
    left: 8.33%;*/
}

.container-header-hero {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.3) 100%), url('../img/background_img.jpg');
    width: 1440px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*.hero-container {
    display: flex;
    flex-direction: column;
    /*margin: 0 auto;
}*/

.hero-container-description {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*       --------------------------  text ------------------------------*/

.hero-hand-icon {
    margin-bottom: 8px;
}

.hero-text {
    width: 398px;
}

.hero-main-heading {
    margin-bottom: 48px;
    font-size: 48px;
    line-height: 0.75;
    font-weight: 700;
    color: var(--main-green);
}

.hero-main-paragraf {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 24px;
}

.main-paragraf-accentuate {
    font-weight: 400;
    color: var(--main-green);
}

/*       --------------------------  button ------------------------------*/

.button {
    width: 195px;
    height: 56px;
    border-radius: 36px;
    color: var(--main-white);
    background-color: var(--main-green);
    font-family: inherit;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: 48px;
}

.button:hover,
.button:focus {
    color: var(--main-green);
    background-color: var(--main-white);
}

/*       --------------------------  image ------------------------------*/

.hero-photo-container {
    border-radius: 189px;
    overflow: hidden;
}

.hero-photo-container:hover {
    transform: scale(1.01);
}

.hero-img {
    width: 270px;
    height: 478px;
    object-fit: cover;
}

/*       --------------------------  paragraf bottom ------------------------------*/

.hero-page-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.paragraf-bottom-container {
    display: flex;
    justify-content: flex-end;    
}

.hide-text-bottom {
    overflow: hidden;
    width: 600px;
}

.hero-paragraf-bottom {
    color: var(--hover-gray);
    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;
    text-transform: uppercase;
    animation-name: noticeLine;
    animation-duration: 15s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes noticeLine {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(-100%);
    }
}

/*       -------------------------- hero socials ------------------------------*/

.hero-sotials {
    display: flex;
    gap: 24px;
}