.footer {
    background-color: var(--main-black);
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

/*       --------------------------  footer-copyright ------------------------------*/

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright-icon {
    fill: var(--main-white);
    margin-right: 8px;
}

.copyright-text {
    font-size: 12px;
    font-weight: 100;
    line-height: 1.7;
    letter-spacing: 0.1em;
}

/*       --------------------------  footer-socials ------------------------------*/

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer-github-icon {
    fill: var(--main-white)
}

.footer-github-icon:hover,
.footer-github-icon:focus {
    fill: var(--main-green);
    transition: fill 250ms linear;
}

.footer-linkedin-icon {
    fill: var(--main-white);
}

.footer-linkedin-icon:hover,
.footer-linkedin-icon:focus {
    fill:var(--main-green);
    transition: fill 250ms linear;
}

.footer-telegram-icon {
    fill: var(--main-white);
}

.footer-telegram-icon:hover,
.footer-telegram-icon:focus {
    fill: var(--main-green);
    transition: fill 250ms linear;
}