
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1280px;
    padding: 50px 120px 0;
}

.header-elements {
    display: flex;
}

/*       --------------------------  headers logo  ------------------------------*/

.logo {
    margin-right: 20px;
}

.logo-title {
    fill: var(--main-green);
}

.logo:hover {
    transform: scale(1.1);
}

.logo-text {
    font-weight: 300;
}

/*       --------------------------  headers contacts  ------------------------------*/

.header-contacts {
    display: flex;
    margin-right: 68px;
}

.header-phone {
    display: flex;
}

.header-phone:hover,
.header-phone:focus {
    transform: scale(1.1);
}

.header-contacts-item:first-child {
    margin-right: 48px;
}

.header-phone-icon {
    fill: var(--main-green);
    margin-right: 8px;
}

.header-phone-text:hover,
.header-phone-text:focus {
    color: var(--hover-gray);
}

.header-mail {
    display: flex;
}

.header-mail:hover,
.header-mail:focus {
    transform: scale(1.1);
}

.header-mail-icon {
    fill: var(--main-green);
    margin-right: 8px;
}

.header-mail-text:hover,
.header-mail-text:focus {
    color: var(--hover-gray);
}

/*       --------------------------  select lenguages ------------------------------*/

.lengs {
    border: none;
    color: transparent;
}

/*       --------------------------  burger-menu button  ------------------------------*/

.menu-btn {
    margin-left: 78px;
    background-color: transparent;
}

.menu-btn-icon {
    stroke: var(--main-white);
}

.menu-btn-icon:hover,
.menu-btn-icon:focus {
    stroke: var(--hover-gray);
    transform: scale(1.1);
}