
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 375px;
    min-width: 320px;
    margin: 0 auto;
    padding: 24px 20px 0 20px;
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    .header {
        min-width: 768px;
        max-width: 1200px;
        padding: 48px 50px 0 50px;
    }
}

@media screen and (min-width: 1250px) {
    .header {
        max-width: 1200px;
        padding: 30px;
    }
}

/*.header-elements {
    display: flex;
    justify-content: space-between;
    width: 186px;
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    .header-elements {
        justify-content: space-between;
        width: 491px;
    }
}

@media screen and (min-width: 1250px) {
    .header-elements {
        display: flex;
        width: 804px;
    }
}*/

/*       --------------------------  headers logo  ------------------------------*/

.logo {
    margin-right: 20px;
}

.logo:hover,
.logo:focus {
    transform: scale(1.03);
    transition: transform 250ms linear;
}

.logo-icon {
    width: 70px;
    height: 47px;
}

@media screen and (min-width: 768px) {
    .logo-icon {
    width: 90px;
    height: 63px;
    }
}

/*       --------------------------  headers contacts  ------------------------------*/

.header-contacts {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1249px) {
    .header-contacts {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

@media screen and (min-width: 1250px) {
    .header-contacts {
        display: flex;
        gap: 48px;
    }
}

.header-phone {
    display: flex;
}

.header-phone:hover,
.header-phone:focus {
    transform: scale(1.01);
    transition: transform 250ms linear;
}

.header-phone-icon {
    fill: var(--selected-grey);
    margin-right: 8px;
}

.header-phone-text:hover,
.header-phone-text:focus {
    color: var(--hover-gray);
    transition: color 250ms linear;
}

.header-mail {
    display: flex;
}

.header-mail:hover,
.header-mail:focus {
    transform: scale(1.01);
    transition: transform 250ms linear;
}

.header-mail-icon {
    fill: var(--selected-grey);
    margin-right: 8px;
}

.header-mail-text:hover,
.header-mail-text:focus {
    color: var(--hover-gray);
    transition: color 250ms linear;
}

/*       --------------------------  select lenguages ------------------------------*/

.lengs {
    border: none;
    color: transparent;
}

/*       --------------------------  burger-menu button  ------------------------------*/

.menu-btn {
    background-color: transparent;
    margin-left: 20px;
}

.menu-btn-icon {
    stroke: var(--main-white);
}

.menu-btn-icon:hover,
.menu-btn-icon:focus {
    stroke: var(--hover-gray);
    transition: stroke 250ms linear;
    transform: scale(1.1);
    transition: transform 250ms linear;
}
    