/*       --------------------------  github-icon ------------------------------*/

.github-icon {
    fill: var(--selected-grey)
}

.github-icon:hover,
.github-icon:focus {
    fill: var(--main-white);
    transition: fill 250ms linear;
}

/*       --------------------------  linkedin-icon ------------------------------*/

.linkedin-icon {
    fill: var(--selected-grey);
}

.linkedin-icon:hover,
.linkedin-icon:focus {
    fill:var(--main-white);
    transition: fill 250ms linear;
}

/*       --------------------------  telegram-icon ------------------------------*/

.telegram-icon {
    fill: var(--selected-grey);
}

.telegram-icon:hover,
.telegram-icon:focus {
    fill: var(--main-white);
    transition: fill 250ms linear;
}

/*       --------------------------  instagram-icon ------------------------------*/

.instagram-icon {
    fill: var(--selected-grey);
}

.instagram-icon:hover,
.instagram-icon:focus {
    fill: var(--main-white);
    transition: fill 250ms linear;
}